mixin navMenu(user)
  nav.nav-wrap 
    ul
      li= user.name
      li 
        a(href="../sig") Inicio
      li 
        a(href="../sig/requisitos") Requisitos SIG
      li 
        a(href="#") Politicas y Objetivos
      li 
        a(href="#") Matriz IPERC
      li 
        a(href="#") Aspectos Ambientales
      li 
        a(href="#") Matriz Legal
      li 
        a(href="#") Salir
