.log-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.log-form .log-form-container {
  display: block;
  width: 400px;
  border-radius: 10px;
}
.log-form .log-form-container .title-container {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-color: #4eb34f;
  font-size: 10px;
}
.log-form .log-form-container .inputs-container {
  position: relative;
  width: 100%;
  background-color: #1a1a1a;
}
.log-form .log-form-container .footer-container {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #1a1a1a;
  border-radius: 0 0 5px 5px;
}
.log-form .log-form-container .footer-container input {
  width: 100px;
  border-radius: 5px;
  border: none;
  height: 30px;
  background-color: #4eb34f;
  color: #fff;
  cursor: pointer;
}
.log-form .log-form-container .footer-container input:hover {
  background-color: #17c213;
}
.log-form .log-form-container .footer-container input:focus {
  outline: none;
}
.log-form .log-form-container .login-control {
  display: inline-block;
  width: 90%;
  text-align: center;
  margin: 10px;
  line-height: 30px;
}
.log-form .log-form-container .login-control input {
  float: right;
  width: 70%;
  background-color: #fff;
  border: solid 1px #fff;
  color: #000;
  border-radius: 5px;
  height: 30px;
  padding: 0 5px;
}
.log-form .log-form-container .login-control input:focus {
  outline: none;
}
