extends ../layout
include ../menu
block styles
  link(rel="stylesheet" href="../stylesheets/sig/home.css")
block nav
  +navMenu(user)
block content
  section.welcome-jumbotron
    h1 Bienvenido #{user.name}

  
