extends home.pug
block styles
  link(rel="stylesheet" href="../stylesheets/sig/requisitos.css")

block content
  section
    div.processMap-wrapper
      div.pm-lateral-right
        div Clientes y partes interesadas
        div Requisitos y expectativas
      div.pm-conector
      div.pm-center.col
        h2 Procesos Estrategicos
      div.pm-cont.ge
      div.pm-conector
      div.pm-title.pm
      
      
