.processMap-wrapper
  display flex
  justify-content center
  height 500px
  background-color lightblue
  padding 20px 50px
  div
    background-color rgba(0,0,0,.1)
  .pm-lateral-right
    width 5%
    height 100%
    div
      display inline-block
      height 100%
      width 50%
      writing-mode vertical-lr
      text-align center
